**/.terraform/*
*.tfstate
*.tfstate.*
*.DS_Store
*.terraform.lock.hcl
**/.go.sum/*
**/.go.mod/*
*.mod
*.sum
*.zip

Checkov*
states/*
**/manifest.json
.history/
.dev-env
__pycache__
.seleniumwire

.py-dev-venv/bin/
.py-dev-venv/

**/nunit/
**/test-output.xml
**/report.html
**/node_modules/**
*/node_modules/*
*.infracost

